/*.row {
  display: flex;
}*/

body {
  background-color: #161616;
  color: #f1f1f1;
  font-family: sans-serif;
}

fieldset {
  background-color: #292929;
}

legend {
  font-weight: bold;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}